{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>loremupsem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, mollitia nulla? Reprehenderit facere explicabo voluptatum neque
     reiciendis incidunt assumenda dolorum tempore nobis voluptate praesentium ut atque, soluta illum fugiat tempora?</p>
</div>
<div class="container">

</div>

{% endblock %}
